!!!
%html
  %head
    %title The CyberPulse
    %link{:rel => 'stylesheet', :href => '/assets/css/style.css'}
  %body
    %h1
      %a{:href => '/index.html'}
        The CyberPulse

    %small fight / tyranny / with / music
    #menu

    #content
      /~~~CONTENT_PLACEHOLDER~~~
